<section hlmCard class="flex flex-col items-center gap-4 w-96 h-[440px]">
  <div hlmCardHeader class="items-center">
    <h3 hlmCardTitle>Welcome</h3>
    <p hlmCardDescription>Please sign in to continue!</p>
  </div>
  <hlm-form-field class="w-10/12">
    <input
      class="w-full"
      [(ngModel)]="authData.email"
      hlmInput
      type="email"
      placeholder="Email"
    />
  </hlm-form-field>
  <hlm-form-field class="w-10/12">
    <input
      class="w-full"
      [(ngModel)]="authData.password"
      hlmInput
      type="password"
      placeholder="Password"
    />
  </hlm-form-field>
  <button (click)="login()" hlmBtn class="mx-4 w-10/12">Register</button>

  <div class="w-10/12 flex items items-center gap-2">
    <span class="w-full border-t border-input"></span>
    <span>or</span>
    <span class="w-full border-t border-input"></span>
  </div>

  <app-google-button class="w-10/12" (loginWithGoogle)="googleSignin($event)" />

  <div class="flex items-center">
    Don't have account?
    <button (click)="switchMode.emit()" variant="link" hlmBtn>LOGIN</button>
  </div>
</section>
