<div class="w-full h-full p-4">
  <h1 class="text-3xl font-bold mb-4">Add new student</h1>

  <p-card>
    <form [formGroup]="newStudentForm" class="flex flex-col gap-4 mb-4">
      <p-inputgroup>
        <input
          pInputText
          [fluid]="true"
          formControlName="firstName"
          type="text"
          placeholder="First Name"
        />
      </p-inputgroup>

      <p-inputgroup>
        <input
          pInputText
          [fluid]="true"
          formControlName="lastName"
          type="text"
          placeholder="Last Name"
        />
      </p-inputgroup>

      <p-inputgroup>
        <input
          pInputText
          class="w-full"
          formControlName="email"
          type="email"
          placeholder="Email"
          email
        />
      </p-inputgroup>

      <p-inputgroup>
        <input
          pInputText
          class="w-full"
          formControlName="phoneNumber"
          type="tel"
          placeholder="Phone"
        />
      </p-inputgroup>
      <p-button
        (click)="addNewStudent()"
        label="Add new student"
        [fluid]="true"
        [loading]="loading()"
      />
    </form>
  </p-card>
</div>
