<div
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
>
  <section hlmCard class="flex flex-col items-center gap-4 w-96 pb-6">
    <div hlmCardHeader class="items-center">
      <h3 hlmCardTitle>Welcome</h3>
      <p hlmCardDescription>Please sign in to continue!</p>
    </div>
    <form [formGroup]="loginForm" class="w-10/12 flex flex-col gap-4">
      <hlm-form-field>
        <input
          class="w-full"
          formControlName="email"
          email
          hlmInput
          type="email"
          placeholder="Email"
        />
        @if (loginForm.get('email')?.getError('email')) {
        <hlm-error>Incorrect email</hlm-error>
        } @if (loginForm.get('email')?.getError('requiret')) {
        <hlm-error>Email is required</hlm-error>
        }
      </hlm-form-field>
      <hlm-form-field>
        <input
          class="w-full"
          formControlName="password"
          password
          hlmInput
          type="password"
          placeholder="Password"
        />
        @if (loginForm.get('password')?.getError('requiret')) {
        <hlm-error>Email is required</hlm-error>
        }
      </hlm-form-field>
    </form>

    <button (click)="login()" hlmBtn class="mx-4 w-10/12">Login</button>

    <div class="w-10/12 flex items items-center gap-2">
      <span class="w-full border-t border-input"></span>
      <span>or</span>
      <span class="w-full border-t border-input"></span>
    </div>

    <app-google-button
      class="w-10/12"
      (loginWithGoogle)="googleSignin($event)"
    />

    <div class="flex items-center w-10/12 justify-between">
      Don't have account?
      <button (click)="createAccount()" variant="link" hlmBtn>
        CREATE ONE NOW
      </button>
    </div>
  </section>
</div>
