<div class="border-white h-svh flex items-center justify-center">
  <section class="flex flex-col items-center gap-4 w-96 pb-6">
    <div class="items-center">
      <h1 class="text-center text-3xl font-bold">Welcome</h1>
      <p class="text-slate-400">Please sign in to continue!</p>
    </div>
    <p-card [style]="{ width: '400px' }">
      <form [formGroup]="loginForm" class="flex flex-col gap-4 mb-4">
        <p-inputgroup>
          <input
            pInputText
            class="w-full"
            formControlName="email"
            type="email"
            placeholder="Email"
            email
          />
        </p-inputgroup>
        @if(loginForm.get('email')?.touched) { @if
        (loginForm.get('email')?.getError('email')) {
        <p-message severity="error" variant="simple" size="small"
          >Incorrect email</p-message
        >
        } @if (loginForm.get('email')?.getError('required')) {
        <p-message severity="error" variant="simple" size="small"
          >Email is required</p-message
        >
        } }
        <p-password
          [toggleMask]="true"
          [fluid]="true"
          class="w-full"
          formControlName="password"
          placeholder="Password"
        />

        @if (loginForm.get('password')?.touched &&
        loginForm.get('password')?.getError('required')) {
        <p-message severity="error" variant="simple" size="small"
          >Password is required</p-message
        >
        }
      </form>

      <p-button [fluid]="true" (click)="login()" label="Login" class="mt-4" />

      <div class="flex items items-center gap-2 my-4">
        <span class="w-full border-t border-input"></span>
        <span>or</span>
        <span class="w-full border-t border-input"></span>
      </div>

      <app-google-button
        class="w-10/12"
        (loginWithGoogle)="googleSignin($event)"
      />
    </p-card>
  </section>
</div>
