<div>
  <h1 hlmH2>Hello, {{ authService.loggedUser()?.firstName }}</h1>
  <div class="dashboard__grid grid lg:grid-cols-3 gap-4 pt-4">
    <section hlmCard class="flex flex-col items-center">
      <div hlmCardHeader class="items-center">
        <h3 hlmCardTitle>Dashboard</h3>
        <p hlmCardDescription>Please sign in to continue!</p>
      </div>
    </section>
    <section hlmCard class="flex flex-col items-center">
      <div hlmCardHeader class="items-center">
        <h3 hlmCardTitle>Teachers</h3>
        <p hlmCardDescription>Please sign in to continue!</p>
      </div>
    </section>
    <section hlmCard class="flex flex-col items-center">
      <div hlmCardHeader class="items-center">
        <h3 hlmCardTitle>Students</h3>
        <p hlmCardDescription>Please sign in to continue!</p>
      </div>
    </section>

    <section
      hlmCard
      class="flex flex-col items-center lg:col-span-2 row-span-2"
    >
      <div hlmCardHeader class="items-center">
        <h3 hlmCardTitle>Lessons</h3>
        <p hlmCardDescription>Please sign in to continue!</p>
      </div>
    </section>

    <section hlmCard class="flex flex-col items-center">
      <div hlmCardHeader class="items-center">
        <h3 hlmCardTitle>Today</h3>
        <p hlmCardDescription>Please sign in to continue!</p>
      </div>
    </section>

    <section hlmCard class="flex flex-col items-center">
      <div hlmCardHeader class="items-center">
        <h3 hlmCardTitle>Next Lessonn</h3>
        <p hlmCardDescription>Please sign in to continue!</p>
      </div>
    </section>
  </div>
</div>
