<div class="w-full h-full p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold">Students</h1>
    <p-button (click)="addNewStudent()" label="+ Add Student" />
  </div>

  <p-card [class.loader-container]="loading()">
    @if (loading()) {
      <p-progress-spinner ariaLabel="loading" />
    } @else {
    <p-table
      [value]="students()"
      selectionMode="single"
      [(selection)]="selectedStudent"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template #header>
        <tr>
          <th>Confirmed</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </ng-template>
      <ng-template #body let-student>
        <tr [pSelectableRow]="student">
          <td>{{ student.emailConfirmed ? 'Yes' : 'No' }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phoneNumber }}</td>
        </tr>
      </ng-template>
    </p-table>
    }
  </p-card>
</div>
